@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}
body{

	font-family: 'PT Serif', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	/*color: #636b6f;*/
	color: #4c4c4c;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 400;
	background: #fff;
}

.brand-title{
  margin-top:50px;
}
.brand-title:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 15px auto 10px;
    background: #4c4c4c;
}
a,a:hover{
  color: #4c4c4c;
  text-decoration: none;
}
form input[type="text"],form input[type="password"] ,form textarea ,form input[type="email"] , .form-group p {
  font-size: 1.22222em !important;
    transition: all .2s linear !important;
    background: #fff !important;
    border: 3px solid #cbd2d6 !important;
    border: 3px solid rgba(0,39,59,.2) !important;
    padding: 9px 9px !important;
    border-radius: 9px !important;
    /*height:30% !important;*/
    /*line-height: 2.36364em !important;*/
}
form input[type="text"]:focus,form input[type="password"]:focus ,form textarea ,form input[type="email"]:focus {
  outline: 0 none;
  }
/*.form-horizontal .form-group label {
font-size: 1.412em ;
margin-bottom:20px;
font-weight: bold;
}*/

form input[type="submit"] ,form input[type="reset"]{
box-shadow: 0 4px 1px #000;
background: #111 !important;
/*width:17.4%;*/

height:42px;
font-size:19px;
border:solid  #000 2px;
}

form input[type="submit"]:hover ,form input[type="reset"]:hover{
color:#fff !important;
  box-shadow: 0 5px 2px #000;
  background: #111 !important;
  border:solid  #000 2px;

}
.alert-danger{
color:#fff !important;
background:#D1322E !important;
}
.alert-success{
  color:#fff !important;
background:#32B36A !important;
}
form h4, .txt-bold{
  font-weight: bold;
}